{% extends 'base.html.twig' %}

{% block title %}Edition livraison{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">

    <div class="container">
        <h2 class="deepshadow">Edition du moyen de paiement</h2>

        <div class="login-form bg-light py-3 px-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Confirmer</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}