<ion-header>
  <ion-toolbar class="header-background ion-text-center">
    <ion-title>
      <img src="assets/resources/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="footer-background">
    <ion-tab-button routerLink="/">
      <ion-icon name="logo-foursquare"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/" class="">
      <ion-icon name="football"></ion-icon>
      <ion-label>Championnats</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mon compte</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
