@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);

.global-link {
    text-decoration: none;
    color: black;
}
.card {
    border-radius: 25px;
    width: 300px;
    min-height: 499px;
    max-height: 500px;
    margin: 40px;
    /*box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);*/
    transition: all .2s ease-in-out;
}

.card:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    box-shadow: -11px 11px 10px 10px rgba(0, 0, 0, 0.3);
}

.card-head {
    position: relative;
    height: 252px;
    background: #fa782e;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 25px 25px 0 0;
}
.card-head-cl {
    position: relative;
    height: 252px;
    background: #051937;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #051937 8%, #4487DC 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #051937 8%, #4487DC 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #051937 8%, #4487DC 83%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 25px 25px 0 0;
}


.card-logo {
    min-width: 35px;
    max-width: 36px;
    min-height: 40px;
    max-height: 41px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-img {
    position: absolute;
    left: 0;
    margin-top: 20px;
    margin-left: 140px;
}

.product-detail {
    padding: 0 20px;
    font-size: 11px;
    color: #fff;
}

.product-detail h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.back-text {
    display: inline-block;
    font-size: 125px;
    font-weight: 900;
    margin-left: -7px;
    margin-top: -12px;
    opacity: 0.1;
}

.card-body {
    height: 255px;
    background: #fff;
    border-radius: 0 0 25px 25px;
}

.product-title {
    padding: 10px 10px 5px 10px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-title b {
    font-weight: 900;
    letter-spacing: 0px;
}

.badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #006be9;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
}

.product-caption {
    display: block;
    padding: 0 10px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-rating {
    padding: 0 10px;
    font-size: 11px;
}

.product-rating {
    color: goldenrod;
}

.product-size h4 {
    font-size: 11px;
    padding: 0 10px;
    margin-top: 7px;
    margin-bottom: -12px;
    text-transform: uppercase;
}

.ul-size {
    margin-left: 7px;
}

.ul-size li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-size li a {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    color: #000;
}

.ul-size li a.active {
    background: #f35e3d;
    color: #fff;
}

.product-size:before,
.product-size:after {
    content: '';
    display: block;
    clear: both;
}

.product-price {
    position: absolute;
    background: #222978;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 165px;
    box-shadow: -10px 20px 15px -7px rgba(15, 34, 233, 0.3);
}

.product-price b {
    margin-left: 5px;
}

.product_link {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
.product_link:hover {
    text-decoration: none;
    display: inline-block;
    color: #2a2a2a;
}
li.actived {
    background: #f35e3d;
    color: #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 14px;
}

span .rating {
    color: goldenrod;
}
