
.sidenav {
    color: white;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1; !* Stay on top *!*/
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    opacity: 80%;
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    padding-top: 20px;
    float: left;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
.main {
    width: 90%;
    margin-left: 190px;
    margin-right: 0;
    /*margin-right: auto;*/
}

.dropdown-menu  {
    width: 40%;
}
