.menu {
    width: 100.8%;
    background-color: rgb(48, 48, 48);
    box-shadow: 0px 10px 10px black;
}

.col-6 {
    border: 1px solid black;
    font-size: 24px;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
}

.col-6 a {
    color: inherit;
}

.col-6 a:hover {
    color: #781b25;
    text-decoration: none;
}