<!--
========== HEADER ===========
-->
<ion-header class="mb-5">
  <ion-toolbar class="ion-text-center header-background">
    <img src="assets/logo.png">
  </ion-toolbar>
</ion-header>

<!--
========== FOOTER ===========
-->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar-background">
    <ion-tab-button routerLink="/">
      <ion-icon name="logo-foursquare"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/favoris">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/leagues" class="float-left">
      <ion-icon name="football"></ion-icon>
      <ion-label>Championnats</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mon compte</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/panier">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
