<ion-content padding>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
  <!-- =============== PROFIL CARD =============== -->
  <div class="card border-secondary mb-3">
    <div class="card-header">Mon profil</div>
    <div>
      <table class="table table-responsive table-striped">
        <tbody>
        <tr>
          <th scope="row">Prénom</th>
          <td>Mark</td>
        </tr>
        <tr>
          <th scope="row">Nom</th>
          <td>Jacob</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>randomemail@raaaaaaaaaaaaaaaaaaaaaaandom.com</td>
        </tr>
        <tr>
          <th scope="row">Phone number</th>
          <td>0672345691</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- =============== LIVRAISON CARD =============== -->
  <div class="card border-secondary mb-3">
    <div class="card-header">Adresse de livraison</div>
    <div>
      <table class="table table-responsive table-striped">
        <tbody>
        <tr>
          <th scope="row">Adresse</th>
          <td>Avenue de la ville</td>
        </tr>
        <tr>
          <th scope="row">Ville</th>
          <td>Bordouse</td>
        </tr>
        <tr>
          <th scope="row">Région</th>
          <td>Midi-Aquitaiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiine</td>
        </tr>
        <tr>
          <th scope="row">Code postal</th>
          <td>33310</td>
        </tr>
        <tr>
          <th scope="row">Pays</th>
          <td>Frallemaldives</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</ion-content>
