<ion-content>
    <ion-toolbar>
        <ion-title>Favoris</ion-title>
    </ion-toolbar>
    <h1>MES FAVORIS</h1>
    <!-- ============================= PRODUCTS ============================ -->
    <ion-grid>
        <ion-row>
            <!-- Condition ngFor des produits récupérés dans favoris -->
            <div class="col-6" *ngFor="let product of favoris">
                <div class="card">
                    <div [ngClass]="product.team.league.name == 'Ligue des champions' ? 'card-head-cl' : 'card-head'">
                      <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                      <img src="assets/teams/PSG_dom.png" alt="Shoe" class="product-img">
                      <div class="product-detail">
                        <h3>Hartbeespoort</h3> Support and Nike Zoom Air come together for a more supportive feel with high-speed
                        responsiveness
                      </div>
                      <span class="back-text">
                                {{product.team.slug}}
                              </span>
                    </div>
                    <div class="card-body">
                      <div class="product-desc">
                          <span class="product-title">
                                  <b>{{ product.team.name }}</b>
                                  <br>
                                  {{product.state.state}}
                          </span>
                        <span class="product-caption">
                                  {{product.team.league.name}}
                                </span>
                        <span class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                              </span>
                      </div>
                      <div class="product-properties">
                          <span class="product-price">
                            <b>{{ product.price }} €</b>
                          </span>
                      </div>
                    </div>
                </div>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>
