<ion-content>
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="product-card">
          <div class="badge">New</div>
          <div class="product-tumb">
            <img src="assets/teams/FCBarcelone_dom.png" alt="">
          </div>
          <div class="product-details">
            <span class="product-catagory">FC Barcelone</span>
            <h6><a href="">Maillot Domicile 2019/2020</a></h6>
            <div class="product-bottom-details">
              <div class="product-price"><small>$96.00</small>$55.99</div>
              <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="product-card">
          <div class="badge">New</div>
          <div class="product-tumb">
            <img src="assets/teams/RealMadrid_dom.png" alt="">
          </div>
          <div class="product-details">
            <span class="product-catagory">Real Madrid</span>
            <h6><a href="">Maillot Domicile 2019/2020</a></h6>
            <div class="product-bottom-details">
              <div class="product-price"><small>$96.00</small>$55.99</div>
              <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

