@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body
{
  font-family: 'Roboto', sans-serif;
}
a
{
  text-decoration: none;
}
.product-card {
  transition: box-shadow .3s;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 5px;
  background: #fafafa;
  border-radius: 4px;
}
.product-card:hover {
  box-shadow: 0px 0px 7px darkslategray;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  padding: 10px;
  background: #3366cc;
  background: -moz-linear-gradient(-45deg, #3366cc 8%, #000066 83%);
  background: -webkit-linear-gradient(-45deg, #3366cc 8%, #000066 83%);
  background: linear-gradient(135deg, #3366cc 8%, #000066 83%);
  border-top-left-radius:     4px 2px;
  border-top-right-radius:    3px 4px;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 10px;
}

.product-details h6 a {
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h6 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 400;
  display: inline-block;
}

.product-price small {
  font-size: 70%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 1px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}