{% extends 'base.html.twig' %}

{% block title %}Carton rouge{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("build/form.css") }}">

    <div class="container">
        <h2 class="deepshadow">Oops !<br> Vous avez reçu un carton rouge</h2>
        <div class="login-form bg-light py-3 px-3">
            <div class="alert alert-danger">
                <p>L'arbitre estime que vous n'avez pas le droit d'être ici.</p>
            </div>
            <p>Il vous laisse tout de même retourner sur le terrain.</p>
            <a href="{{ path('home') }}" class="btn btn-success">Retourner sur le terrain</a>
        </div>
    </div>

{% endblock %}