<div class="container">
    <img src="{{ asset('build/images/ressources/flockyou.png') }}">
    <h1>Merci pour votre commande {{ name }} !</h1>
    <p>Nous sommes ravis que vous ayez choisi FlockYou pour acheter vos maillots de football préférés. Nous espérons également que les produits
    vous conviendrons.</p>
    <p>N'hésitez pas à noter les produits que vous avez choisi afin d'aider les prochains clients à faire leur choix.</p>
    <p>Nous espérons vous revoir très vite vous revoir sur notre site web pour de futurs achats.</p>
</div>
