{% extends 'admin/base.html.twig' %}

{% block title %}Ajout d'une équipe{% endblock %}

{% form_theme form _self %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">

    <div class="container">
        <h2 class="deepshadow">Ajout d'une équipe</h2>

        <div class="login-form bg-light py-3 px-3">
            {{ form_start(form) }}

            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Ajouter une équipe</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}