<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="assets/logo.png">
  </ion-toolbar>
</ion-header>
<ion-content class="ion-color-medium">
  <div class="cards-list">

    <div class="card 1">
      <div class="card_image"><img src="assets/leagues/championsleague.jpg" /> </div>
      <div class="card_title title-white">
        <p></p>
      </div>
    </div>

    <div class="card 2">
      <div class="card_image">
        <img src="assets/leagues/euro.jpg" />
      </div>
      <div class="card_title title-white">
        <p></p>
      </div>
    </div>
  </div>
</ion-content>
