{% extends 'base.html.twig' %}

{% block title %}Bienvenue ! - Flockyou{% endblock %}
{% block body %}
    {{ render(controller('App\\Controller\\HomeController::caroussel', {} )) }}
    <h2 class="deepshadow">Maillots populaires</h2>
{#    {{ dump(bestProducts) }}#}
    <div class="mainwrapper index row">
    {% for product in bestProducts %}
        {% include 'products/cardProduct.html.twig' with {'product': product.products} %}
    {% endfor %}
    </div>
    <h2 class="deepshadow">Nouveautés</h2>
    <div class="mainwrapper index row">
        {% for product in products %}
            {{ include('products/cardProduct.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}
