{% extends 'base.html.twig' %}

{% block title %}Bienvenue ! - Flockyou{% endblock %}
{% block body %}
    {{ render(controller('App\\Controller\\HomeController::caroussel', {} )) }}
    <h2 class="deepshadow">Nouveautés</h2>
    <div class="mainwrapper index row">
        {% for product in products %}
            {{ include('products/cardProduct.html.twig') }}
        {% endfor %}
    </div>
    <h2 class="deepshadow">Promo !</h2>
    <div class="mainwrapper index row">
        {% for product in products %}
            {{ include('products/cardProduct.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}
