{% extends 'base.html.twig' %}

{% block title %}Bienvenue ! - Flockyou{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
    {{ render(controller('App\\Controller\\HomeController::caroussel', {} )) }}
    <div class="row menu">
        <div class="col-6">
            <a href="#best">Maillots populaires</a>
        </div>
        <div class="col-6">
            <a href="#news">Nouveautés</a>
        </div>
    </div>
    <h2 class="deepshadow" id="best">Maillots populaires</h2>
    <div class="mainwrapper index row">
    {% for product in bestProducts %}
        {% include 'products/cardProduct.html.twig' with {'product': product.products} %}
    {% endfor %}
    </div>
    <h2 class="deepshadow" id="news">Nouveautés</h2>
    <div class="mainwrapper index row">
        {% for product in recentsProducts %}
            {% include 'products/cardProduct.html.twig' with {'product': product.products} %}
        {% endfor %}
    </div>
{% endblock %}
