<ion-content>
    <ion-toolbar>
        <ion-title>panier</ion-title>
    </ion-toolbar>
    <div class="wrap cf">
        <div class="heading cf">
            <h1>Mon panier</h1>
            <a routerLink="/" class="continue">Continuer mes achats</a>
        </div>
        <div class="cart">
            <ul class="cartWrap">
                <li class="items even">
                    <div class="infoWrap">
                        <div class="cartSection">
                            <img src="assets/teams/TOTT_dom.png" alt="Maillot choisi" class="itemImg"/>
                            <p class="itemNumber">Tottenham - Maillot domicile 2019/2010</p>
                            <h3>Taille : L <br> Flocage : 9. Kane</h3>

                            <p><input type="text" class="qty" placeholder="1"/> x $59.99</p>
                        </div>
                    </div>
                </li>
                <li class="items odd">
                    <div class="infoWrap">
                        <div class="cartSection">
                            <img src="assets/teams/MC_dom.png" alt="" class="itemImg"/>
                            <p class="itemNumber">Manchester City - Maillot domicile 2019/2010</p>
                            <h3>Taille : L <br> Flocage : 7. Sterling</h3>

                            <p><input type="text" class="qty" placeholder="1"/> x $59.99</p>
                        </div>
                        <div class="prodTotal cartSection">
                            <p>$15.00</p>
                        </div>
                        <div class="cartSection removeWrap">
                            <a href="#" class="remove">x</a>
                        </div>
                    </div>
                </li>
                <li class="items even">
                    <div class="infoWrap">
                        <div class="cartSection">
                            <img src="assets/teams/JUV_dom.png" alt="" class="itemImg"/>
                            <p class="itemNumber">Juventus - Maillot domicile 2019/2010</p>
                            <h3>Taille : S <br> Flocage : 9. Ronaldo</h3>

                            <p><input type="text" class="qty" placeholder="1"/> x $59.99</p>
                        </div>
                        <div class="prodTotal cartSection">
                            <p>$15.00</p>
                        </div>
                        <div class="cartSection removeWrap">
                            <a href="#" class="remove">x</a>
                        </div>
                    </div>
                </li>
                <li class="items odd">
                    <div class="infoWrap">
                        <div class="cartSection info">
                            <img src="assets/teams/PSG_dom.png" alt="" class="itemImg"/>
                            <p class="itemNumber">Paris-Saint-Germain - Maillot domicile 2019/2010</p>
                            <h3>Taille : M <br> Flocage : 20. Kurzawwa</h3>
                            <p><input type="text" class="qty" placeholder="1"/> x $59.99</p>
                        </div>
                        <div class="prodTotal cartSection">
                            <p>$15.00</p>
                        </div>
                        <div class="cartSection removeWrap">
                            <a href="#" class="remove">x</a>
                        </div>
                    </div>
                    <div class="special">
                        <div class="specialContent">Free gift with purchase!</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="promoCode">
            <label for="promo">Vous avez un code promo? </label>
            <input type="text" name="promo" placholder="Enter Code"/>
            <a href="#" class="btn"></a>
        </div>
        <div class="subtotal cf">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Sous-total :</b> <i> 200.98$</i></li>
                    <li class="list-group-item"><b>Livraison :</b> 2.99$</li>
                    <li class="list-group-item"><b>Total :</b> 203.98$</li>
                </ul>
            </div>
            <button type="button" class="btn btn-info btn-lg btn-block">Commander</button>
        </div>
    </div>
</ion-content>
<!--
<h2 class="deepshadow">Votre panier</h2>
<div class="cart">
    <div class="d-flex bd-highlight">
        <div class="one p-2 flex-md-fill bd-highlight m-1">
            <h3 class="mb-3">PRODUITS</h3>
            <p>Continuer mes achats <i class="fas fa-arrow-right ml-2"></i></p>
            <div class="total">
                <b>Total</b><br> 150€
            </div>
            <ul>
                <li>
                    <div class="image">
                        <img src="{{ asset('build/images/teams/JUV_dom.png') }}" class="mr-3">
                    </div>
                    <div class="info pl-5">
                        <i class="suppr far fa-times-circle pull-right"></i>
                        <i class="suppr fas fa-pen pull-right mr-2"></i>
                        <h4 class="">JUVENTUS - DOMICILE</h4>
                        <h5>Taille : M</h5>
                        <h5>Flocage : 7 - RONALDO</h5>
                        <h5>Quantité : <input type="number" id="quantity" name="quantity" value="1" style="width: 15%">
                        </h5>
                        <h5 class="price">49.99 €</h5>
                    </div>
                </li>
                <hr>
                <li>
                    <div class="image">
                        <img src="{{ asset('build/images/teams/FCBarcelone_dom.png') }}" class="mr-3">
                    </div>
                    <div class="info pl-5">
                        <i class="suppr far fa-times-circle pull-right"></i>
                        <i class="suppr fas fa-pen pull-right mr-2"></i>
                        <h4 class="">FC BARCELONE - DOMICILE</h4>
                        <h5>Taille : L</h5>
                        <h5>Flocage : 10 - MESSI</h5>
                        <h5>Quantité : <input type="number" id="quantity" name="quantity" value="1" style="width: 15%">
                        </h5>
                        <h5 class="price">49.99 €</h5>
                    </div>
                </li>
                <hr>
                <li>
                    <div class="image">
                        <img src="{{ asset('build/images/teams/TOTT_dom.png') }}" class="mr-3">
                    </div>
                    <div class="info pl-5">
                        <i class="suppr far fa-times-circle pull-right"></i>
                        <i class="suppr fas fa-pen pull-right mr-2"></i>
                        <h4 class="">TOTTHENAM - DOMICILE</h4>
                        <h5>Taille : S</h5>
                        <h5>Flocage : 7 - SON</h5>
                        <h5>Quantité : <input type="number" id="quantity" name="quantity" value="1" style="width: 15%">
                        </h5>
                        <h5 class="price">49.99 €</h5>
                    </div>
                    <hr>
                </li>
                <hr>
            </ul>
        </div>
        <div class="two p-2 flex-md-fill bd-highlight m-3">
            <h3 class="mb-5">DETAILS DE LIVRAISON</h3>
            <div class="m-5">
                <label for="name">Nom complet</label><input type="text" name="name" id="name" class="name">
                <label for="phone">Numéro de téléphone</label><input type="text" name="phone" id="phone" class="phone">
                <label for="email">Adresse email</label><input type="email" name="email" id="email" class="email">
                <label for="country">Pays</label><input type="text" name="country" id="country" class="country">
                <label for="city">Ville exacte</label><input type="text" name="city" id="city" class="city">
                <label for="address1">Adressee livraion</label><input type="text" name="address1" id="address1"
                                                                      class="address1">
                <label for="address2">Adresse 2 (non nécessaire)</label><input type="text" name="address2" id="address2"
                                                                               class="address2">
            </div>
        </div>
        <div class="three p-2 flex-md-fill bd-highlight m-3">
            <h3 class="mb-5">DONNÉES BANCAIRES</h3>
            <div class="credit_card">
                <img src="{{ asset('build/images/ressources/fake_credit_card.png') }}" class="mb-5">
                <label for="name_titu">Nom titulaire de carte</label><input type="text" name="name" id="name_titu"
                                                                            class="name_titu">
                <label for="card_num">Numéro de carte</label><input type="text" name="card_num" id="card_num"
                                                                    class="card_num">
                <div class="expiration mr-5">
                    <label for="month">Date expiration</label><input type="month" name="month" id="month" class="month"><input
                        type="month" name="month" id="month" class="month">
                </div>
                <div class="code">
                    <label for="code">Code carte</label><input type="text" name="code" id="code" class="code">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg m-5">Valider le panier</button>
        </div>
    </div>
</div>
-->
