<ion-content>
  <div class="container mt-5" style="border: 0px solid">
    <h2 class="ion-text-center deepshadow">ACCUEIL</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-product></app-product>
        </ion-col>
        <ion-col>
          <app-product></app-product>
        </ion-col>
        <ion-col>
          <app-product></app-product>
        </ion-col>
        <ion-col>
          <app-product></app-product>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
