<ion-content>
  <ion-toolbar>
    <ion-title>Product</ion-title>
  </ion-toolbar>
  <div class="product-card">
    <div class="badge">-50%</div>
    <div class="product-tumb">
      <img src="assets/teams/FCBarcelone_dom.png" alt="">
    </div>
    <div class="product-details">
      <span class="product-catagory">FC Barcelone</span>
      <h6><a routerLink="/product">Maillot Domicile 2019/2020</a></h6>
      <p>lorempsumnbfhubezkcnzaolijnclzbcbezulcbkrbnaiznxbzcyezbcvencbzuqscb
      bchfbdekcbiezbcebcliuezfrefheriufirevhezcuierbvuyrvek
      cueibvckezvbrueyvbliurezkvkubkucrkyevcbyrbupoappzaco,ezncbroincure</p>
      <ion-item>
        <ion-label>Choisissez votre taille</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="xs">XS</ion-select-option>
          <ion-select-option value="s">S</ion-select-option>
          <ion-select-option value="m">M</ion-select-option>
          <ion-select-option value="l">L</ion-select-option>
          <ion-select-option value="xl">XL</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="product-bottom-details">
        <div class="product-price"><small>$96.00</small>$55.99</div>
        <div class="product-links">
          <a href=""><i class="fa fa-heart"></i></a>
          <a href=""><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
